html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  text-align: center;
  color: white;

  background: linear-gradient(
    180deg,
    #2563eb 0%,
    #1d4ed8 40%,
    #1e40af 100%
  );
}

.screen {
  padding-top: 40px;
}

.hidden {
  display: none;
}

.active-screen {
  display: block;
}

.logo {
  margin-top: 40px;
  max-width: 220px;
}

/* MENÚ */

.button-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.button {
  padding: 12px 32px;
  border-radius: 10px;
  border: none;
  background-color: #3b82f6;
  color: white;
  font-size: 16px; 
  cursor: pointer;
}

.button:hover {
  background-color: #2563eb;
}

/* Estado deshabilitado */
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* PANTALLA DE PREGUNTAS */

.question-screen {
  background-image: url("./assets/background for questions.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
}

/* Botones de comodines */
.lifeline-btn {
  position: absolute;
  bottom: 40px;
}

.lifeline-left {
  left: 40px;
}

.lifeline-right {
  right: 40px;
}

/* Estilo cuando ya se ha usado un comodín */
#time-lifeline.lifeline-used,
#fifty-fifty.lifeline-used {
  background-color: #d1d5db; /* gris pálido */
  color: #6b7280;
}

/* PREGUNTA */

.question-banner {
  background: #60a5fa;
  padding: 18px 30px;
  border-radius: 20px;
  font-size: 24px; 
  font-weight: 700;
  max-width: 70%;
  margin: 350px auto 0;
}

/* RESPUESTAS */

.answers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 80%;
  max-width: 700px;
  margin: 110px auto 0;
}

.answer-block {
  padding: 18px;
  border-radius: 16px;
  background: #2563eb;
  border: 2px solid #ffffff99;
  color: white;
  cursor: pointer;
  font-size: 19px; 
  font-weight: 600;
}

.answer-block:hover {
  background: #1d4ed8;
}

.answer-correct {
  background-color: #22c55e;
}

.answer-wrong {
  background-color: #ef4444;
}

/* CONTADOR Y TIEMPO */

.question-counter,
.timer {
  position: absolute;
  top: 60px;
  padding: 30px 80px;
  border-radius: 12px;
  background: #60a5fa;
  font-size: 28px;
  font-weight: 600;
}

.question-counter {
  right: 40px;
}

.timer {
  left: 40px;
}

/* MODAL */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: linear-gradient(
    180deg,
    #60a5fa 0%,
    #3b82f6 40%,
    #2563eb 100%
  );
  padding: 40px 60px;
  border-radius: 20px;
  border: 3px solid #ffffff99;
}

.modal-content h2 {
  font-size: 32px; 
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 19px; 
  margin-bottom: 30px;
}
